@{
    ViewData["Title"] = "Nie znaleziono";
}

<h1>Nie znaleziono</h1>

<p>Żądana strona nie została znaleziona lub nie istnieje rekord o podanym identyfikatorze.</p>

<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Powrót do listy</a>
</p>