@{
    ViewData["Title"] = "Home Page";
    ViewData["Color"] = DateTime.Now.Second > 0.5 ? "red" : "transparent";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@DateTime.Now</p>
    <p style="background-color: @(ViewData["Color"]);">@ViewData["random"]</p>
</div>